<nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Product</a>
          </li>
          @if (baskets$.length>0) {
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Basket    
                <span class="badge text-bg-danger">    <i class="fa-solid fa-cart-shopping"></i> {{baskets$.length}}</span>
            </a>
          
            <ul class="dropdown-menu" >
                @for (basket of baskets$; track $index ) {
              <li>
                <div class="m-2">
                   {{basket.product.name}} <span class="text-primary">x {{basket.count}}</span> 
                   <i (click)="remove(basket.id)" class="fa-regular fa-circle-xmark text-danger" style="float: right;"></i>
                </div>
                <hr class="dropdown-divider">
            </li>
                 }
      
            </ul>
          </li>
        }
        </ul>
        <form  class="d-flex" >
          <div class="me-2" style="position: relative;">
            <input (keyup)="search()" [(ngModel)]="filter" name="filter" id="filter" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
            @if (filter!="") {
              <i (click)="clearSearch();" class="fa-solid fa-broom text-danger" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;" ></i>
            }
         
          </div>
          <button  (click)="search()" class="btn btn-outline-success me-1" type="submit">Search</button>
         
        </form>
      </div>
    </div>
  </nav>